@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'main';
  font-style: normal;
  font-weight: normal;
  src: local('main'), url('./main.woff2') format('woff2');
} */

@layer components {
  .trans {
    @apply transition-all duration-300
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
