@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'main';
  font-style: normal;
  font-weight: normal;
  src: local('main'), url('./main.woff2') format('woff2');
} */
.response {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.response h1, .response h2, .response h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.response p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.response pre {
  background-color: #353333;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}

.response code {
  background-color: #353333;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  font-size: smaller;
}
@layer components {
  .trans {
    @apply transition-all duration-300
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
